<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049273107890-88q13l58dm2bevdnrqk7hvh230buse7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049273107890-88q13l58dm2bevdnrqk7hvh230buse7h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1049273107890-e8ht37uodgi44lmm4v0ggah58b2pkua9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBnd8lcuelCQMl5x5myt5ODeA5Cm552GvE</string>
	<key>GCM_SENDER_ID</key>
	<string>1049273107890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.arteon</string>
	<key>PROJECT_ID</key>
	<string>arteon-pulse</string>
	<key>STORAGE_BUCKET</key>
	<string>arteon-pulse.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049273107890:ios:88aa589414aa2a5db210ab</string>
</dict>
</plist>